body {    
    background-position: center;  
    opacity: 90%;
    animation: fadeUp 0.8s ease-in;
}

main {
    background-color: rgb(255, 255, 255);
    border: 5px solid;
    border-radius: 5px;
    border-color: rgba(11, 42, 83);
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.top {
    display: flex;
    margin-top: 10px;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
}

.logo img {
    align-items: center;
    width: 550px;
    height: 550px;
    margin-top: 25px;
}

.logo img:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0 6px rgba(118, 3, 118, 0.5));
}

.text {
    flex: 1 1 50%;             
    text-align: center;
    padding: 10px 0;
    max-width: 650px;
}

.text h1 {
    color: rgba(11, 42, 83);
    font-size: 50px;
}

.text p {
    font-size: 20px;
    font-style: oblique;
    line-height: 1.5;
}

.button {
    display: inline-block;
    padding: 10px 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgba(11, 42, 83);
    border: 2px solid;
    border-radius: 8px;
    border-color: rgba(253, 187, 8);
    text-decoration: none; 
    cursor: pointer;
    margin-top: 45px;
    margin-right: 27px;
    box-shadow: 0 0 5px rgba(11, 42, 83);
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
}

.button:hover {
    transform: scale(1.02);
    background-color: rgba(253, 187, 8);
    border-color: rgba(11, 42, 83);
    filter: drop-shadow(0 0 6px rgba(11, 42, 83));
    box-shadow: 0 0 20px 2px rgba(11, 42, 83);
    transform: scale(1.011);
}

.Upcoming {
    background-color: rgba(11, 42, 83);
    height: auto;
    margin: 10px;
    margin-top: 65px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid;
    border-color: rgba(253, 187, 8);
    box-shadow: 0 0 5px rgba(11, 42, 83);
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
}

.Upcoming:hover {
    border-color:rgba(11, 42, 83);;
    filter: drop-shadow(0 0 6px rgba(118, 3, 118, 0.5));
    background-color: rgba(253, 187, 8);
    box-shadow: 0 0 20px 2px rgba(11, 42, 83);
    transform: scale(1.011);
}

.Upcoming h2 {
    color: white;
    padding-left: 10px;
    font-size: 25px;
    margin-top: 10px;
}

.Upcoming li {
    color: white;
    font-size: 20px;
}